# **Exercise 1 from Chapter2**

- <span style="color: blue;">Weâ€™ve seen that n = 42 is legal. What about 42 = n?</span>

In [15]:
n = 42

In [16]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

Executing '42 = n' sows a SyntaxError, because we can't assign a character to a number 
So the error says that we may forget a '=' if we want to use '==' if we want to check if 'n == 42'

- <span style="color: blue;">How about x = y = 1?</span>

In [17]:
x = y = 1

In [18]:
x

1

In [19]:
y

1

'x = y = 1' works, it assigns 1 to x and y, simply.

- <span style="color: blue;">In some languages every statement ends with a semi-colon, ;. What happens if you put a
semi-colon at the end of a Python statement?</span>

In [25]:
a = 9;
b = 7;
c = a * b;
print(c);

63

If we use semi-colon ';' in python nothing happens.

- <span style="color: blue;">What if you put a period at the end of a statement?</span>

In [26]:
exemple = "in this line, I'll put a period to see what will happens" .

SyntaxError: invalid syntax (1921099982.py, line 1)

It shows a SyntaxError which is invalid syntax

- <span style="color: blue;">In math notation you can multiply x and y like this: xy. What happens if you try that in Python?</span>

In [29]:
x = 3
y = 2
prod = xy

NameError: name 'xy' is not defined

This also shows an error, we can't multiply x and y like this : xy, xy may be used to be a name of a variable.
For multiplying something in python we should use __*__ .